{% extends "base_logged_in.html" %}

{% block title %}Health Records{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h2>Health Records</h2>
                <hr>
                <table class="table text-center">
                    <thead>
                        <th>Test Name</th>
                        <th>Test Date Time</th>
                        <th>Test Result</th>
                    </thead>
                    <tbody>
                        {% for r in records %}
                            <tr>
                                <td>{{r['test_name']}}</td>
                                <td>{{r['dt']}}</td>
                                <td>{{r['test_result']}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}