{% extends "base_logged_in.html" %}

{% block title %}Contact Tracing{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h2>Notifications of Contact Traces</h2>
                <hr>
                <table class="table text-center">
                    <thead>
                        <th>Location</th>
                        <th>Date Time</th>
                    </thead>
                    <tbody>
                        {% for l in locations %}
                            <tr>
                                <td>{{l['location']}}</td>
                                <td>{{l['time']}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}